body{
    margin: 0;
    padding: 0;
    width: 200px;
    padding-left: 30px;
    height: 200px;
    animation-duration: 2s;
    animation-name: slidein;
}
h1{
    font-family: arial, sans-serif;
    animation-duration: 2s;
    animation-name: slidein;   
}
table, td, tr {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid black;
}
input {
    width: 35px;
    height: 12px;
    border: none;
    margin: 0;
    height: 25%;
    text-align: center;
}
td {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 12px;   
}
#table{
    float: left;
}
.darkgrey{
    margin: 0;
    background-color: darkgrey;
}
.grey{
    background-color: lightgrey;
    margin: 0;
}
li{
    display: inline;
    list-style-type: none;
    padding: 15px; 
}
#table{
    float: left;
}
#gameSpace{
    float: right;
    background-color: aliceblue;
    
}
#dice { 
    text-align: center;
    font-weight: bold;
    
   
}
#dice li{
   background-color: blanchedalmond;
   margin: 5px;
   border-radius: 10px;
   box-shadow: 5px 5px 10px grey;
   width: 50px;
   display: inline-block;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%; 

    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.zoom:hover {
    transform: scale(1.5);
    background-color:grey
}
.focus {
    transform: scale(1.0);
}
button {
    background-color: rgb(90, 95, 91); /* Green */
    border: none;
    color: white;
    padding: 10px, 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
}
.check {

    border: none;
    color: white;
    padding: 10px, 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 29px;
}
.player{
    background-color: blue;
}
.active{
    background-color: yellow;
}

