body{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    animation-duration: 2s;
    animation-name: slidein;
}
h1{
    font-family: arial, sans-serif;
    animation-duration: 2s;
    animation-name: slidein;   
}
.navbar {
    background: rgb(231, 231, 229);
    margin-bottom: 10px;
  }
  .nav-link,
  .navbar-brand {
    color:black;
    cursor: pointer;
    font-size: 2em;
  }
 
  
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .nav-link{
      font-size: 1em;
  }
table, td, tr {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid black;
}
input {
    width: 60px;
    height: 50px;
    border: none;
    margin: 0;
    height: 100%;
    text-align: center;
}
td {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 12px;   
}
#table{
    float: left;
}
.darkgrey{
    margin: 0;
    background-color: darkgrey;
}
.grey{
    background-color: lightgrey;
    margin: 0;
}
li{
    display: inline;
    list-style-type: none;
    padding: 15px; 
}
#table{
    float: left;
}
#dice { 
    text-align: center;
    font-weight: bold;
    
   
}
#dice li{
   background-color: blanchedalmond;
   margin: 5px;
   border-radius: 10px;
   box-shadow: 5px 5px 10px grey;
   width: 50px;
   display: inline-block;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%; 

    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.zoom:hover {
    transform: scale(1.5);
    background-color:grey
}
.focus {
    transform: scale(1.0);
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
}
#tableArea{
    float: left;
    position: relative;
}
#diceArea{
    float: right;
    position: relative;
    margin: 150px;
}
#diceButton button{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#clickDiceButton{
    margin-left: 40px;
}

